@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(216, 224, 232);

  text-align: center;
  transition: background-color 0.5s ease;
  font-family: "Lucida Console", Courier, monospace;
  width: 80%;
  margin: auto;
}

img {
  height: 100px;
}

h1 {
  margin: 30px 0;
}
